/* Applied througout webpage */
body {
  box-sizing: border-box;
  display: grid; 
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr); 
  grid-template-areas: 
  "grid1 grid1 grid2 grid3 grid3"
  "grid4 grid5 grid6 grid3 grid3"
  "grid7 grid8 grid9 grid3 grid3";
  height: 100vh;
  background-color: #d4d5d7; 
  color: #ffffff;
  font-family: 'Nunito', sans-serif; 
}

article {
  cursor: pointer;
}
 h1 {
  font-weight: 800; 
 }

 p {
  font-weight: 400; 
 }

/* Boxes that allow you to access portfolio content */
.grid1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-color: #00BB7F;
}

.grid2 {
  background-color: #fd9d27; 
}

.grid4 {
  background-color: #1580b9;
}

.grid5 {
  background-color: #db0d0d; 
}

.grid6 {
  background-color: #9561e8; 
}

.grid7 {
  background-color: #ef5b4e; 
}

.grid8 {
  background-color: #f486c6;
}

.grid9 {
  background-color: #9bdbf7; 
}

.site-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .bio-box {
  display: flex;
  flex-direction: column; 
  padding-left: 3rem; 
 }

 .bio {
  margin-bottom: -0.5rem; 
  margin-top: 0; 
 }

/* Site Box Icons */
.bio-box-icons {
  height: 0.8rem;
  width: 0.8rem;
}

.bio-box-buttons {
  border: 1px solid #ffffff;
  height: 1rem;
  width: 6rem; 
  padding: 1rem;
}

.buttons-container {
  display: flex;
  flex-direction: row; 
}

.site-box-icon {
  height: 4rem; 
  width: 4rem;
}

/* Profile Image Section */
.grid3 {
  grid-column: 4 / 6;
  grid-row: 1 / 4; 
}

.profile-image {
  background-image: url("./images/img_0184.jpg"); 
  background-size: cover; 
  background-repeat: no-repeat; 
}
